{% extends 'admin/base/base.html.twig' %}

{% block title %}Fossils / Admin / Kategorien & Tags{% endblock %}

{% block cardHeaderText %}
    Kategorien & Tags
    <a href="{{ url('app_admin_tag_create_or_edit') }}" class="btn btn-primary btn float-end">
        <i class="bi-plus-lg"></i>
    </a>
{% endblock %}

{% block cardBodyContent %}
    {% if tagList is empty %}
        {% include 'admin/tag/emptyTagList.html.twig' %}
    {% else %}

        <table class="table table-striped table-hover tag-list-table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col" class="is-category-column">Ist Kategorie</th>
                <th scope="col" class="tag-action-column">Aktionen</th>
            </tr>
            </thead>
            <tbody>
            {% for tag in tagList %}
                <tr class="form-field-row tag-row" data-tag-id="{{ tag.id }}">
                    <td>
                        {{ tag.name }}
                    </td>
                    <td class="text-center">
                        {% include 'admin/base/booleanColumnRenderer.html.twig' with {'value': tag.isUsedAsCategory} %}
                    </td>
                    <td>
                        <a href="{{ url('app_admin_tag_create_or_edit', {'id': tag.id }) }}"
                           class="float-left btn btn-secondary">
                            <i class="bi-pen"></i>
                        </a>

                        <a href="{{ url('app_admin_tag_delete', {'id': tag.id }) }}"
                           class="float-left margin-left-ten btn btn-danger btn"
                           data-delete-tag="true">
                            <i class="bi-trash"></i>
                        </a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
